spring:
  application:
    name: oauth2-server-backend
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true

server:
  port: 9090

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
